#main {
   float: right;
   width: 65%;
   margin-right: 10%;
   padding-left: 5%;
}
html, body, * {
   padding: 0;
   margin: 0;
}
p {
   padding: 0;
   padding-bottom: 0.2em;
   margin: 0;
}
#sidebar {
   margin: 0;
   padding: 1em;
   width: 20%;
   background-color: #DDF4F1;
   height: 100%;
}
code {
   background-color: #DDD;
   padding: 0 1px;
}
pre {
   margin-left: 2em;
   margin-right: 2em;
   background-color: #F0F0F0;
   border-left: 0.5em solid #BBB;
   border-right: 0.5em solid #BBB;
   overflow-x: scroll;
}
#main div {
   padding: 2px;
   margin-left: 1em;
   margin-top: 0;
   margin-bottom: 0.2em;
}
#main div p {
   padding-left: 1.5em;
   padding-top: 0;
   margin-top: 0;
}
h4 {
   margin: 0.1em;
}
.author {
   margin-left: 0.2em;
   margin-right: 0.2em;
}
.version {
   font-size: 0.7em;
}
#main div:hover {
   padding: 1px;
   border: 1px solid #EEE;
   background-color: #E6F0FC;
}