/* Resetting */
html, * {
   margin: 0;
   padding: 0;
   font-size: 100%;
   font: inherit;
}
body {
   line-height: 1.1;
}
ul {
   list-style: none;
}
a {

}

em {
   font-style: italic;
}

strong {
   font-weight: bold;
}

/* Layout */
#main {
   margin-left: 25%;
   width: 70%;
   border-left: 1px solid #BBB;
}
#sidebar {
   width: 25%;
   float: left;
}
#header {
   width: 100%;
   height: 4em;
   padding-top: 2em;
   border-bottom: 1px solid #BBB;
}


/* Typography */
body {
   font-size: 12pt;
   font-family: Georgia, Times, "Times New Roman", serif;
}
h1, h2, h3, h4 {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
   font-weight: normal;
   font-size: 235%;
}
h2 {
   font-weight: normal;
   font-size: 177%;
}
h3 {
   font-weight: bold;
   font-size: 133%;
}
h4 {
   font-weight: bold;
   font-size: 133%;
}
code {
/*   font-family: Consolas, monaco, monospace;*/
   font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
h1 code, h2 code {
   font-weight: bold;
}

/* header */
#header {
   text-align: center;
}

.version {
   font-size: 42%;
}
/* sidebar */
#sidebar div {
   padding-top: 0.5em;
   padding-bottom: 1em;
}
#sidebar ul {
   margin-top: 0.5em;
}
#sidebar ul li {
   margin-bottom: 0.2em;
}
#sidebar ul li::before {
   content: "- ";
}
#sidebar h3 {
   margin-left: 15%;
   margin-right: 15%;
   text-align: center;
   padding-bottom: 0.1em;
   border-bottom: 1px solid #EEE;
}

/* main */
#main div {
   margin-left: 0.5em;
   padding: 0.5em;
   width: 80%;
}
#main div:hover {
   border-right: 3px solid #777;
}
#main div h4 {
   margin-bottom: 0.3em;
}
#main div h4 ~ p {
   padding-left: 1em;
}
#main p a code {
   background-color: #FFF;
   color: #780002;
}
#main p a code:hover {
   border-bottom: 1px dotted #780002;
}
#main ul {
   list-style-type: square;
}
#main ul ul {
   list-style-type: none;
}
#main ul ul li {
   margin-left: -1em;
}
#main ul ul li::before {
   content: "- ";
   margin-left: -1em;
   padding-right: 0.5em;
}


p {
   margin-bottom: 0.8em;
}
.moduleInfo p {
   margin-top: 0.5em;
}
.author {
   color: #007A79;
}
.author:hover {
   font-weight: normal;
   border-bottom: 1px dotted #007A79;
}

pre {
   background-color: #F3F3F3;
   overflow-x: scroll;
   padding: 0.2em;
   font-size: 90%;
   margin-left: 1em;
   margin-right: 1em;
}

ol, ul {
   padding-left: 3em;
   padding-bottom: 0.8em;
}

/* links */
a {
   text-decoration: none;
   color: black;
}
a:hover {
   font-weight: bold;
}
